<h1>Welcome to EAH Security</h1>
<p>
  EAH Security has been in business for 35 years and offers a variety of services. To get
  started, register for access to the web site.
</p>
  <%= link_to "Register Now", new_registration_path(resource_name), class: "btn btn-primary" %>
