<h1>Welcome to EAHS Locksmith Inc</h1>
<p>
  EAHS Locksmith, Inc has over 40 years of combined experience and offers a variety of services. We specialize in customized solutions to
  your security needs. To get started, register for further access to the web site.
</p>
  <%= link_to "Register Now", new_registration_path(resource_name), class: "btn btn-primary" %>
