<div class="container">
  <div class="row">
    <div class="col-lg-12 panel__wrapper--b panel__bg--b panel__wrapper panel__bg--b-mktg">
      <div class="panel__inner panel__inner--b">
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default tall-panel panel-block">
              <div class="panel-body panel__header-inner panel__header-text">
                <h3>
                 Fire Door Inspection
                </h3>
                <p>Stay up to code. Request an inspection today.</p>
                <span class="header__clear-button--blue header__clear-button">
                  <a  id="fire_door_inspection_button">Learn More</a>
                </span>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default half-panel panel-block">
              <div class="panel-body panel__header-inner panel__header-text">
                 <h3>
                   Safe and Security Services
                 </h3>
                 <p>
                   Protect your home, business or organization with a large selection
                   of security solutions.
                 </p>
                 <span class="header__clear-button--blue header__clear-button">
                  <a id="security_button">Learn More</a>
                 </span>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default half-panel panel-block">
              <div class="panel-body panel__header-inner panel__header-text">
                  <h3>
                    Locksmithing
                 </h3>
                 <p>
                   We support all of your locksmithing needs. Including emergency services.
                </p>
                  <span class="header__clear-button--blue header__clear-button">
                    <a id="locksmith_button">Learn More</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="mid-row-header">
          <h2 class="section-header-text">
            About Us
          </h2>
          <p class="section-header-subtext">
            EAH is a locksmith and security company with over 35 years of experience.
          </p>
        </div>
      </div>
    </div>
    <div class="row row-background margin-top-medium-indent-left">
      <div class="col-md-6 col-xs-12">
        <h2>
          Contact Us
        </h2>
        <div class="col-sm-6">
          <i class="fa fa-phone pull-left" aria-hidden="true"></i>216-555-5544
        </div>
      </div>
      <!-- <div class="col-md-6 col-xs-12"> -->
      <!-- </div> -->
    </div>
  </div>
  <%= render "quotes/fire_door_inspection" %>
  <%= render "quotes/security" %>
  <%= render "quotes/locksmith" %>
