<div class="photo">
  <%= image_tag "Locksmith-Services", id: "imgBanner", class: "img-responsive" %>
</div>
<div class="row pricing-tables">
  <div class="col-md-3 col-lg-3">
    <div class="pricing-table pricing-table-primary">
      <div class="pricing-table-title">Certified Fire Door Inspection</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        <li>Basic Keys - Simple Services</li>
        <li>Hardware Replacement</li>
        <li>Access Control - Design - Repair</li>
        <li>High Security Locks - Highend Services</li>
        <li>24/7 support</li>
      </ul>
      <!-- <a class="btn btn-primary" id="locksmith_button">Learn More</a> -->
      <%= link_to "Certified Fire Door Inspection",  product_path(4), class: "btn btn-primary" %>

    </div><!--//content-->
  </div><!--//item-inner-->
  <div class="col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
    <div class="pricing-table pricing-table-warning">
      <div class="pricing-table-title">Safes</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        <li>Servicing</li>
        <li>Combination Change</li>
        <li> Opening and Repair</li>
        <li>Moving</li>
        <li>Sales</li>
        <li>24/7 support</li>
      </ul>
      <!-- <a class="btn btn-warning" id="security_button">Learn More</a> -->
      <%= link_to "Safes", product_path(3), class: "btn btn-warning" %>
    </div><!--//content-->
  </div><!--//item-inner-->
  <div class="col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
    <div class="pricing-table pricing-table-success">
      <div class="pricing-table-title">Cameras and Security Assessments</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        <li>Security Assessments</li>
        <li>Security Systems</li>
        <li>Camera Systems</li>
        <li>24/7 support</li>
        <li>&nbsp;</li>
      </ul>
      <!-- <a class="btn btn-success" id="fire_door_inspection_button">Learn More</a> -->
      <%= link_to "Cameras and Secruity Assessments", product_path(2), class: "btn btn-success" %>
    </div><!--//content-->
  </div><!--//item-inner-->
</div><!--//item-->
<div class="row">
  <div class="col-xs-12">
    <div class="mid-row-header">
      <h2 class="section-header-text">
        About Us
      </h2>
      <p class="section-header-subtext">
        EAH Locksmith, Inc has over 40 years of combined experience and offers a variety of services.
      </p>
    </div>
  </div>
</div>
<div class="row row-background margin-top-medium-indent-left">
  <div class="col-md-6 col-xs-12">
    <h2>
      Contact Us
    </h2>
    <div class="col-sm-6">
      <i class="fa fa-phone pull-left" aria-hidden="true"></i>216-555-5544
    </div>
  </div>
</div>
