<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>Access Granted</h1>
      <p>
        Congratulations! The account for <%= @email %>, has been granted access to EAHS-Security.
        Click the link below to get started. Use the credentials you have chosen upon registration.
      </p>
      <p>
        <%= @url %>
      </p>
    </body>
  </html>
