<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>The user, <%= @user.email %> has requested access to the EAH-Security.</h1>
      <p>
        To approve the user click the link below and select the user from the
        approval grid.
      </p>
      <p>
        <%= @url %>
      </p>
    </body>
  </html>
