
/* Portfolio
---------------------------------*/

.Portfolio-nav {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
  li {
    margin: 0 10px;
    display: inline;
    a {
      display: inline-block;
      padding: 10px 22px;
      font-size: 12px;
      line-height: 20px;
      color: #222222;
      border-radius: 4px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      background: #f7f7f7;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      &:hover {
        background: #7cc576;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.portfolioContainer {
  margin: 0 auto;
  padding-left: 15px;
}

.Portfolio-box {
  text-align: center;
  margin-bottom: 30px;
  height: 350px;
  width: 350px;
  overflow: hidden;
  float: left;
  padding: 0;
  img {
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

.Portfolio-nav li a.current {
  background: #7cc576;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.main-section.paddind {
  padding-bottom: 60px;
}

/* Clients
---------------------------------*/

.client-part {
  background: url(../img/section-bg1.jpg) center center no-repeat;
  background-size: cover;
  padding: 55px 0;
  text-align: center;
}

.client-part-haead {
  color: #fdfdfd;
  font-size: 28px;
  line-height: 41px;
  margin: 30px 0 10px;
  font-family: "" Open Sans ",sans-serif";
  font-style: italic;
}

.client {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  text-align: center;
  li {
    display: inline;
    margin: 0 15px;
    a {
      display: inline-block;
      img {
        margin-bottom: 15px;
        border-radius: 50%;
      }
      &:hover {
        text-decoration: none;
      }
      h3 {
        color: #ffffff;
      }
      span {
        color: #f1f1f1;
      }
    }
  }
}

.quote-right {
  font-style: normal;
  width: 68px;
  height: 68px;
  margin: 0 auto;
  border: 2px solid #7cc576;
  border-radius: 50%;
  display: block;
  line-height: 68px;
  text-align: center;
  font-size: 27px;
  color: #7cc576;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
    border: 2px solid #fff;
  }
}

.c-logo-part {
  background: #7cc576;
  padding: 25px 0;
  filter: alpha(opacity = 60);
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline;
      margin: 0 25px;
    }
    a {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

.main-section.team {
  padding: 85px 0;
  h6 {
    margin-bottom: 40px;
  }
}
