.main-content-products {
	height: 100%;
	overflow: auto;
	padding-top: 75px;
}

/* Float Elements
---------------------------------*/

.fl-lt {
  float: left;
}

.fl-rt {
  float: right;
}

/* Clear Floated Elements
---------------------------------*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  &:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
  }
}

.figure {
  margin: 0px;
}

img {
  max-width: 100%;
}

a {
  outline: 0px !important;
  &:hover, &:active {
    outline: 0px !important;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format("embedded-opentype"),
	url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Primary Styles
---------------------------------*/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  margin: 0;
}

h2 {
  font-size: 34px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 16px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 60px 0;
}

p {
  line-height: 24px;
  margin: 0;
}

.we-create {
  padding: 0;
  margin: 35px 0 55px;
}

.wp-pic {
  margin-bottom: 20px;
}

.we-create li {
  display: inline-block;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  color: #bcbcbc;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 5px 0 0;
  padding: 0 0 0 15px;
  &:first-child {
    background: none;
  }
}

.start-button {
  padding-left: 0px;
  li a {
    color: #fff;
  }
}

.link {
  padding: 15px 35px;
  background: #7cc576;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #7cc576 !important;
    background: #fff;
  }
  &:active, &:focus {
    background: #7cc576;
    text-decoration: none;
    color: #fff !important;
  }
}

/* Services
---------------------------------*/

#service.main-section {
	background: #eee;
}

#service2.main-section {
	background: #eee;
}

.service-list {
  padding: 50px 0 0 0;
  font-size: 14px;
  margin-bottom: 40px;
}

.service-list-col1 {
  float: left;
  width: 60px;
  i {
    font-style: normal;
    font-size: 38px;
    display: block;
    color: #222;
    font-family: 'FontAwesome';
    line-height: 38px;
  }
}

.service-list-col2 {
  overflow: hidden;
}

.main-section.alabaster {
	padding: 50px 0 50px 0;
	font-size: 14px;
  // background: #fafafa;
	background: #f5f1dc;
	// margin-bottom: 40px;
}

/* Featured Work
---------------------------------*/

.featured-work {
  font-size: 14px;
  h2 {
    text-align: left;
  }
}

.featured-box {
  padding: 0 0 0 0;
  margin-bottom: 25px;
  font-size: 14px;
  h3 {
    margin-bottom: 5px;
  }
  p {
    line-height: 22px;
  }
}

.featured-work p.padding-b {
  padding-bottom: 35px;
}

.featured-box-col1 {
  width: 60px;
  float: left;
  i {
    display: block;
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    color: #777777;
    font-style: normal;
  }
}

.featured-box-col2 {
  overflow: hidden;
}

.featured-box {
  &.magic {
    background: url(image_path('magic.png')) left top no-repeat;
  }
  &.packaged {
    background: url(image_path('packaged.png')) left top no-repeat;
  }
  &.seo {
    background: url(image_path('seo.png')) left top no-repeat;
  }
}

.Learn-More {
  display: inline-block;
  padding: 0 5px 0 0;
  color: #7cc576;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  display: none;
  i {
    padding-right: 15px;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: #111;
  }
}

/* Animation Timers
---------------------------------*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
