
  <div class="container">
      <%= link_to product_path(products_url) do %>
        <h2><%= @product_middle.product_type.titleize %></h2>
      <% end %>
    <h6>Subtitle Text</h6>
    <div class="row">
      <figure class="col-lg-5 col-sm-4 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
        <%= image_tag  File.join(@product_middle.product_type.gsub(' ','_').downcase.to_s + '.png'), class: "img-responsive" %>
      </figure>
      <div class="col-lg-7 col-sm-8 featured-work">
        <h2>featured work</h2>
        <p class="padding-b">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus
          posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
          <div class="featured-box">
            <div class="featured-box-col1 wow fadeInRight delay-02s animated" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
              <i class="fa-magic"></i>
            </div>
            <div class="featured-box-col2 wow fadeInRight delay-02s animated" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
              <h3>magic of theme development</h3>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
          </div>
          <div class="featured-box">
            <div class="featured-box-col1 wow fadeInRight delay-04s animated" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
              <i class="fa-gift"></i>
            </div>
            <div class="featured-box-col2 wow fadeInRight delay-04s animated" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
              <h3>neatly packaged</h3>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
          </div>
          <div class="featured-box">
            <div class="featured-box-col1 wow fadeInRight delay-06s animated" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
              <i class="fa-dashboard"></i>
            </div>
            <div class="featured-box-col2 wow fadeInRight delay-06s animated" style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
              <h3>SEO optimized</h3>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
          </div>
          <a class="Learn-More" href="#">Learn More</a>
        </div>
      </div>
    </div>
