<% @products.each do |product| %>
    <div class="panel-body">
      <div id="products_template">
        <%= render partial: 'products_list', locals: {product: product} %>
      </div>
    </div>
<% end %>
