<div class="photo">
  <%= image_tag @product.product_type.gsub(' ','_').downcase.to_s, class: "img-responsive" %>
</div>
<div class="bottom">
    <div class="user-info">
      <h2><%= @product.product_type.titleize %></h2>
      Description of product here. Description of product here. Description of product here. Description of product here.
      Description of product here. Description of product here. Description of product here. Description of product here.
      Description of product here. Description of product here. Description of product here. Description of product here.
      Description of product here. Description of product here. Description of product here. Description of product here.
    </div>
</div>
